<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial:'form', locals: { url: signup_path} %>
  </div>
</div>
