$('#post-count').html("<%=pluralize(current_user.microposts.count, "micropost")%>")

<% flash.each do |type, message| %>
 var message = $("<div class='alert alert-success'><%= message %></div>");
  $('#flash-message').append(message);
<% end %>
window.setTimeout(function() {
  message.fadeTo(500, 0).slideUp(500, function(){
    $(this).remove();
  });
}, 3000);
