<%= link_to gravatar_for(current_user, size:50), current_user %>
<h1> <%= current_user.name %></hi>
<span><%=link_to "view my profile", current_user %></span>
<span id="post-count"><%= pluralize(current_user.microposts.count, "micropost") %></span>
