(function() {
  $('#error_explanation').remove()
  <% if @micropost.errors.any? %>
    var errors = $("<%= j render 'shared/error_messages', object: @micropost%>");
    $('#new_micropost').prepend(errors);
  <% else %>
    $('.microposts').prepend($('<%= j render @micropost %>').hide().fadeIn('slow'));
    $('#micropost_content').val("");
    <%= render 'shared/flash'%>
  <% end %>
}) ();
